{
displayStrings = (
"𑤄/ga_uVowel-divesakuru/da_uVowel-divesakuru/ha_uVowel-divesakuru",
"𑤄/nna_uVowel-divesakuru 
𑤄/nna_uuVowel-divesakuru 
𑤄/ta_uVowel-divesakuru 
𑤄/ta_uuVowel-divesakuru 
𑤄/pha_uVowel-divesakuru 
𑤄/pha_uuVowel-divesakuru 
𑤄/bha_uVowel-divesakuru 
𑤄/bha_uuVowel-divesakuru 
𑤄/ka_dha_uVowel-divesakuru 
𑤄/ka_medra_uVowel-divesakuru 
𑤄/ta_medra_uVowel-divesakuru 

𑤄/ka_dha_uVowel-divesakuru.undera 
𑤄/ka_medra_uVowel-divesakuru.undera 
𑤄/ta_medra_uVowel-divesakuru.undera"
);
}
