(
"a-divesakuru",
"a-divesakuru.0001",
"a-divesakuru.0002",
"a-divesakuru.0003",
"a-divesakuru.0004",
"a-divesakuru.0005",
"a-divesakuru.0006",
"a-divesakuru.0007",
"a-divesakuru.0008",
"a-divesakuru.0009",
"a-divesakuru.0010",
"i-divesakuru",
"i-divesakuru.0001",
"i-divesakuru.0002",
"i-divesakuru.0003",
"i-divesakuru.0004",
"i-divesakuru.0005",
"i-divesakuru.0006",
"i-divesakuru.0007",
"i-divesakuru.0008",
"i-divesakuru.0009",
"i-divesakuru.0010",
"i-divesakuru.0011",
"u-divesakuru",
"e-divesakuru",
"o-divesakuru",
"o-divesakuru.alt",
"ka-divesakuru",
"ga-divesakuru",
"nga-divesakuru",
"tta-divesakuru",
"dda-divesakuru",
"ddha-divesakuru",
"nna-divesakuru",
"nna-divesakuru.alt",
"ta-divesakuru",
"tha-divesakuru",
"da-divesakuru",
"dha-divesakuru",
"na-divesakuru",
"pa-divesakuru",
"pha-divesakuru",
"ba-divesakuru",
"bha-divesakuru",
"ma-divesakuru",
"ma-divesakuru.alt",
"ya-divesakuru",
"ya-divesakuru.medi",
"yya-divesakuru",
"ra-divesakuru",
"ra-divesakuru.medi",
"la-divesakuru",
"va-divesakuru",
"va-divesakuru.alt",
"ssa-divesakuru",
"sa-divesakuru",
"ha-divesakuru",
"lla-divesakuru",
"lla-divesakuru.alt",
"za-divesakuru",
"ka_aaVowel-divesakuru",
"ka_iVowel-divesakuru",
"ka_iiVowel-divesakuru",
"ka_uVowel-divesakuru",
"ka_uuVowel-divesakuru",
"ka_eVowel-divesakuru",
"ka_aiVowel-divesakuru",
"ka_oVowel-divesakuru",
"ka_ooVowel-divesakuru",
"ka_halanta-divesakuru",
"ka_halanta-divesakuru.0001",
"ka_halanta-divesakuru.0002",
"ka_halanta-divesakuru.0003",
"ka_halanta-divesakuru.0004",
"ka_halanta-divesakuru.0005",
"ka_halanta-divesakuru.0006",
"ka_halanta-divesakuru.0007",
"ka_halanta-divesakuru.0008",
"ka_halanta-divesakuru.0009",
"ka_halanta-divesakuru.0010",
"ka_halanta-divesakuru.0011",
"ga_aaVowel-divesakuru",
"ga_iVowel-divesakuru",
"ga_iiVowel-divesakuru",
"ga_uVowel-divesakuru",
"ga_uuVowel-divesakuru",
"ga_eVowel-divesakuru",
"ga_aiVowel-divesakuru",
"ga_oVowel-divesakuru",
"ga_ooVowel-divesakuru",
"ga_halanta-divesakuru",
"tta_aaVowel-divesakuru",
"tta_iVowel-divesakuru",
"tta_iiVowel-divesakuru",
"tta_uVowel-divesakuru",
"tta_uuVowel-divesakuru",
"tta_eVowel-divesakuru",
"tta_aiVowel-divesakuru",
"tta_oVowel-divesakuru",
"tta_ooVowel-divesakuru",
"tta_halanta-divesakuru",
"dda_aaVowel-divesakuru",
"dda_iVowel-divesakuru",
"dda_iiVowel-divesakuru",
"dda_uVowel-divesakuru",
"dda_uuVowel-divesakuru",
"dda_eVowel-divesakuru",
"dda_aiVowel-divesakuru",
"dda_oVowel-divesakuru",
"dda_ooVowel-divesakuru",
"dda_halanta-divesakuru",
"ddha_aaVowel-divesakuru",
"ddha_iVowel-divesakuru",
"ddha_iiVowel-divesakuru",
"ddha_uVowel-divesakuru",
"ddha_uuVowel-divesakuru",
"ddha_eVowel-divesakuru",
"ddha_aiVowel-divesakuru",
"ddha_oVowel-divesakuru",
"ddha_ooVowel-divesakuru",
"ddha_halanta-divesakuru",
"nna_aaVowel-divesakuru",
"nna_iVowel-divesakuru",
"nna_iiVowel-divesakuru",
"nna_uVowel-divesakuru",
"nna_uuVowel-divesakuru",
"nna_eVowel-divesakuru",
"nna_aiVowel-divesakuru",
"nna_oVowel-divesakuru",
"nna_ooVowel-divesakuru",
"nna_halanta-divesakuru",
"ta_aaVowel-divesakuru",
"ta_iVowel-divesakuru",
"ta_iiVowel-divesakuru",
"ta_uVowel-divesakuru",
"ta_uuVowel-divesakuru",
"ta_eVowel-divesakuru",
"ta_aiVowel-divesakuru",
"ta_oVowel-divesakuru",
"ta_ooVowel-divesakuru",
"ta_halanta-divesakuru",
"ta_halanta-divesakuru.0001",
"ta_halanta-divesakuru.0002",
"ta_halanta-divesakuru.0003",
"ta_halanta-divesakuru.0004",
"ta_halanta-divesakuru.0005",
"ta_halanta-divesakuru.0006",
"ta_halanta-divesakuru.0007",
"ta_halanta-divesakuru.0008",
"ta_halanta-divesakuru.0009",
"ta_halanta-divesakuru.0010",
"ta_halanta-divesakuru.0011",
"da_aaVowel-divesakuru",
"da_iVowel-divesakuru",
"da_iiVowel-divesakuru",
"da_uVowel-divesakuru",
"da_uuVowel-divesakuru",
"da_eVowel-divesakuru",
"da_aiVowel-divesakuru",
"da_oVowel-divesakuru",
"da_ooVowel-divesakuru",
"da_halanta-divesakuru",
"dha_aaVowel-divesakuru",
"dha_iVowel-divesakuru",
"dha_iiVowel-divesakuru",
"dha_uVowel-divesakuru",
"dha_uuVowel-divesakuru",
"dha_eVowel-divesakuru",
"dha_aiVowel-divesakuru",
"dha_oVowel-divesakuru",
"dha_ooVowel-divesakuru",
"dha_halanta-divesakuru",
"na_aaVowel-divesakuru",
"na_iVowel-divesakuru",
"na_iiVowel-divesakuru",
"na_uVowel-divesakuru",
"na_uuVowel-divesakuru",
"na_eVowel-divesakuru",
"na_aiVowel-divesakuru",
"na_oVowel-divesakuru",
"na_ooVowel-divesakuru",
"na_halanta-divesakuru",
"na_halanta-divesakuru.0001",
"na_halanta-divesakuru.0002",
"na_halanta-divesakuru.0003",
"na_halanta-divesakuru.0004",
"na_halanta-divesakuru.0005",
"na_halanta-divesakuru.0006",
"na_halanta-divesakuru.0007",
"na_halanta-divesakuru.0008",
"na_halanta-divesakuru.0009",
"na_halanta-divesakuru.0010",
"na_halanta-divesakuru.0011",
"pa_aaVowel-divesakuru",
"pa_iVowel-divesakuru",
"pa_iiVowel-divesakuru",
"pa_uVowel-divesakuru",
"pa_uuVowel-divesakuru",
"pa_eVowel-divesakuru",
"pa_aiVowel-divesakuru",
"pa_oVowel-divesakuru",
"pa_ooVowel-divesakuru",
"pa_halanta-divesakuru",
"pha_aaVowel-divesakuru",
"pha_iVowel-divesakuru",
"pha_iiVowel-divesakuru",
"pha_uVowel-divesakuru",
"pha_uuVowel-divesakuru",
"pha_eVowel-divesakuru",
"pha_aiVowel-divesakuru",
"pha_oVowel-divesakuru",
"pha_ooVowel-divesakuru",
"pha_halanta-divesakuru",
"ba_aaVowel-divesakuru",
"ba_iVowel-divesakuru",
"ba_iiVowel-divesakuru",
"ba_uVowel-divesakuru",
"ba_uuVowel-divesakuru",
"ba_eVowel-divesakuru",
"ba_aiVowel-divesakuru",
"ba_oVowel-divesakuru",
"ba_ooVowel-divesakuru",
"ba_halanta-divesakuru",
"bha_aaVowel-divesakuru",
"bha_iVowel-divesakuru",
"bha_iiVowel-divesakuru",
"bha_uVowel-divesakuru",
"bha_uuVowel-divesakuru",
"bha_eVowel-divesakuru",
"bha_aiVowel-divesakuru",
"bha_oVowel-divesakuru",
"bha_ooVowel-divesakuru",
"bha_halanta-divesakuru",
"ma_aaVowel-divesakuru",
"ma_iVowel-divesakuru",
"ma_iiVowel-divesakuru",
"ma_uVowel-divesakuru",
"ma_uuVowel-divesakuru",
"ma_eVowel-divesakuru",
"ma_aiVowel-divesakuru",
"ma_oVowel-divesakuru",
"ma_ooVowel-divesakuru",
"ma_halanta-divesakuru",
"ya_aaVowel-divesakuru",
"ya_iVowel-divesakuru",
"ya_iiVowel-divesakuru",
"ya_uVowel-divesakuru",
"ya_uuVowel-divesakuru",
"ya_eVowel-divesakuru",
"ya_aiVowel-divesakuru",
"ya_oVowel-divesakuru",
"ya_ooVowel-divesakuru",
"ya_halanta-divesakuru",
"yya_aaVowel-divesakuru",
"yya_iVowel-divesakuru",
"yya_iiVowel-divesakuru",
"yya_uVowel-divesakuru",
"yya_uuVowel-divesakuru",
"yya_eVowel-divesakuru",
"yya_aiVowel-divesakuru",
"yya_oVowel-divesakuru",
"yya_ooVowel-divesakuru",
"yya_halanta-divesakuru",
"ra_aaVowel-divesakuru",
"ra_iVowel-divesakuru",
"ra_iiVowel-divesakuru",
"ra_uVowel-divesakuru",
"ra_uuVowel-divesakuru",
"ra_eVowel-divesakuru",
"ra_aiVowel-divesakuru",
"ra_oVowel-divesakuru",
"ra_ooVowel-divesakuru",
"ra_halanta-divesakuru",
"la_aaVowel-divesakuru",
"la_iVowel-divesakuru",
"la_iiVowel-divesakuru",
"la_uVowel-divesakuru",
"la_uuVowel-divesakuru",
"la_eVowel-divesakuru",
"la_aiVowel-divesakuru",
"la_oVowel-divesakuru",
"la_ooVowel-divesakuru",
"la_halanta-divesakuru",
"va_aaVowel-divesakuru",
"va_iVowel-divesakuru",
"va_iiVowel-divesakuru",
"va_uVowel-divesakuru",
"va_uuVowel-divesakuru",
"va_eVowel-divesakuru",
"va_aiVowel-divesakuru",
"va_oVowel-divesakuru",
"va_ooVowel-divesakuru",
"va_halanta-divesakuru",
"ssa_halanta-divesakuru",
"sa_aaVowel-divesakuru",
"sa_iVowel-divesakuru",
"sa_iiVowel-divesakuru",
"sa_uVowel-divesakuru",
"sa_uuVowel-divesakuru",
"sa_eVowel-divesakuru",
"sa_aiVowel-divesakuru",
"sa_oVowel-divesakuru",
"sa_ooVowel-divesakuru",
"sa_halanta-divesakuru",
"ha_aaVowel-divesakuru",
"ha_iVowel-divesakuru",
"ha_iiVowel-divesakuru",
"ha_uVowel-divesakuru",
"ha_uuVowel-divesakuru",
"ha_eVowel-divesakuru",
"ha_aiVowel-divesakuru",
"ha_oVowel-divesakuru",
"ha_ooVowel-divesakuru",
"ha_halanta-divesakuru",
"lla_aaVowel-divesakuru",
"lla_iVowel-divesakuru",
"lla_iiVowel-divesakuru",
"lla_uVowel-divesakuru",
"lla_uuVowel-divesakuru",
"lla_eVowel-divesakuru",
"lla_aiVowel-divesakuru",
"lla_oVowel-divesakuru",
"lla_ooVowel-divesakuru",
"lla_halanta-divesakuru",
"za_aaVowel-divesakuru",
"za_iVowel-divesakuru",
"za_iiVowel-divesakuru",
"za_uVowel-divesakuru",
"za_uuVowel-divesakuru",
"za_eVowel-divesakuru",
"za_aiVowel-divesakuru",
"za_oVowel-divesakuru",
"za_ooVowel-divesakuru",
"za_halanta-divesakuru",
"ka_tha-divesakuru",
"ka_dha_uVowel-divesakuru",
"ka_ssa_halanta-divesakuru",
"ka_medra_uVowel-divesakuru",
"ka_medya_iVowel-divesakuru",
"nga_ga-divesakuru",
"dda_medya_iVowel-divesakuru",
"ddha_medya-divesakuru",
"ta_ta-divesakuru",
"ta_ta_eVowel-divesakuru",
"ta_ta_medra_iVowel-divesakuru",
"ta_tha-divesakuru",
"ta_tha_medra_iVowel-divesakuru",
"ta_medra_uVowel-divesakuru",
"ta_medya_iVowel-divesakuru",
"ta_medya_halanta-divesakuru",
"dha_medya-divesakuru",
"na_tha-divesakuru",
"na_medra-divesakuru",
"na_medra_aaVowel-divesakuru",
"na_medya_iVowel-divesakuru",
"pa_medra-divesakuru",
"ba_va-divesakuru",
"ma_medya-divesakuru",
"ma_medya_iVowel-divesakuru",
"ma_medya_iiVowel-divesakuru",
"ma_medya_eVowel-divesakuru",
"ya_medra-divesakuru",
"ya_medya_iVowel-divesakuru",
"la_medya-divesakuru",
"va_medya-divesakuru",
"va_medya_iVowel-divesakuru",
"va_medya_uVowel-divesakuru",
"sa_va-divesakuru",
"sa_medra_iiVowel-divesakuru",
"sa_medya-divesakuru",
"ha_medra-divesakuru",
"ha_medra_aaVowel-divesakuru",
"ha_medya_iVowel-divesakuru",
"lla_medya_iVowel-divesakuru",
"a-divesakuru.0011",
"a-divesakuru.0012",
"a-divesakuru.0013",
"a-divesakuru.0014",
"a-divesakuru.0015",
"a-divesakuru.0016",
"a-divesakuru.0017",
"a-divesakuru.0018",
"a-divesakuru.0019",
"a-divesakuru.0020",
"a-divesakuru.0021",
"a-divesakuru.0022",
"a-divesakuru.0023",
"a-divesakuru.0024",
"a-divesakuru.0025",
"a-divesakuru.0026",
"a-divesakuru.0027",
"a-divesakuru.0028",
"a-divesakuru.0029",
"a-divesakuru.0030",
"a-divesakuru.0031",
"a-divesakuru.0032",
"a-divesakuru.0011.two",
"a-divesakuru.0012.two",
"a-divesakuru.0013.two",
"a-divesakuru.0014.two",
"a-divesakuru.0015.two",
"a-divesakuru.0016.two",
"a-divesakuru.0017.two",
"a-divesakuru.0018.two",
"a-divesakuru.0019.two",
"a-divesakuru.0020.two",
"a-divesakuru.0021.two",
"a-divesakuru.0022.two",
"a-divesakuru.0023.two",
"a-divesakuru.0024.two",
"a-divesakuru.0025.two",
"a-divesakuru.0026.two",
"a-divesakuru.0027.two",
"a-divesakuru.0028.two",
"a-divesakuru.0029.two",
"a-divesakuru.0030.two",
"a-divesakuru.0031.two",
"a-divesakuru.0032.two",
"a-divesakuru.0033",
"a-divesakuru.0034",
"a-divesakuru.0035",
"a-divesakuru.0036",
"a-divesakuru.0037",
"a-divesakuru.0038",
"a-divesakuru.0039",
"a-divesakuru.0040",
"a-divesakuru.0041",
"a-divesakuru.0042",
"a-divesakuru.0043",
"a-divesakuru.0044",
"a-divesakuru.0045",
"a-divesakuru.0046",
"a-divesakuru.0047",
"a-divesakuru.0048",
"a-divesakuru.0049",
"a-divesakuru.0050",
"a-divesakuru.0051",
"a-divesakuru.0052",
"a-divesakuru.0053",
"a-divesakuru.0054",
"a-divesakuru.0055",
"a-divesakuru.0056",
"a-divesakuru.0057",
"a-divesakuru.0058",
"a-divesakuru.0059",
"a-divesakuru.0060",
"a-divesakuru.0061",
"a-divesakuru.0062",
"a-divesakuru.0063",
space,
"gapFiller-divesakuru_endofTextMark-divesakuru",
"gapFiller-divesakuru_endofTextMark-divesakuru.init",
"doubleDanda-divesakuru",
"gapFiller-divesakuru",
"gapFiller-divesakuru.fina",
"gapFiller-divesakuru.init",
"gapFiller-divesakuru.isol",
"endofTextMark-divesakuru",
"i-divesakuru.undera",
"u-divesakuru.undera",
"e-divesakuru.undera",
"o-divesakuru.alt.undera",
"o-divesakuru.undera",
"ka-divesakuru.undera",
"ka_tha-divesakuru.undera",
"ka_dha_uVowel-divesakuru.undera",
"ka_ssa_halanta-divesakuru.undera",
"ka_aaVowel-divesakuru.undera",
"ka_iVowel-divesakuru.undera",
"ka_iiVowel-divesakuru.undera",
"ka_uVowel-divesakuru.undera",
"ka_uuVowel-divesakuru.undera",
"ka_eVowel-divesakuru.undera",
"ka_aiVowel-divesakuru.undera",
"ka_oVowel-divesakuru.undera",
"ka_ooVowel-divesakuru.undera",
"ka_halanta-divesakuru.undera",
"ka_medra_uVowel-divesakuru.undera",
"ka_medya_iVowel-divesakuru.undera",
"ga-divesakuru.undera",
"ga_aaVowel-divesakuru.undera",
"ga_iVowel-divesakuru.undera",
"ga_iiVowel-divesakuru.undera",
"ga_uVowel-divesakuru.undera",
"ga_uuVowel-divesakuru.undera",
"ga_eVowel-divesakuru.undera",
"ga_aiVowel-divesakuru.undera",
"ga_oVowel-divesakuru.undera",
"ga_ooVowel-divesakuru.undera",
"ga_halanta-divesakuru.undera",
"nga-divesakuru.undera",
"nga_ga-divesakuru.undera",
"tta-divesakuru.undera",
"tta_aaVowel-divesakuru.undera",
"tta_iVowel-divesakuru.undera",
"tta_iiVowel-divesakuru.undera",
"tta_uVowel-divesakuru.undera",
"tta_uuVowel-divesakuru.undera",
"tta_eVowel-divesakuru.undera",
"tta_aiVowel-divesakuru.undera",
"tta_oVowel-divesakuru.undera",
"tta_ooVowel-divesakuru.undera",
"tta_halanta-divesakuru.undera",
"dda-divesakuru.undera",
"dda_aaVowel-divesakuru.undera",
"dda_iVowel-divesakuru.undera",
"dda_iiVowel-divesakuru.undera",
"dda_uVowel-divesakuru.undera",
"dda_uuVowel-divesakuru.undera",
"dda_eVowel-divesakuru.undera",
"dda_aiVowel-divesakuru.undera",
"dda_oVowel-divesakuru.undera",
"dda_ooVowel-divesakuru.undera",
"dda_halanta-divesakuru.undera",
"dda_medya_iVowel-divesakuru.undera",
"ddha-divesakuru.undera",
"ddha_aaVowel-divesakuru.undera",
"ddha_iVowel-divesakuru.undera",
"ddha_iiVowel-divesakuru.undera",
"ddha_uVowel-divesakuru.undera",
"ddha_uuVowel-divesakuru.undera",
"ddha_eVowel-divesakuru.undera",
"ddha_aiVowel-divesakuru.undera",
"ddha_oVowel-divesakuru.undera",
"ddha_ooVowel-divesakuru.undera",
"ddha_halanta-divesakuru.undera",
"ddha_medya-divesakuru.undera",
"nna-divesakuru.alt.undera",
"nna-divesakuru.undera",
"nna_aaVowel-divesakuru.undera",
"nna_iVowel-divesakuru.undera",
"nna_iiVowel-divesakuru.undera",
"nna_uVowel-divesakuru.undera",
"nna_uuVowel-divesakuru.undera",
"nna_eVowel-divesakuru.undera",
"nna_aiVowel-divesakuru.undera",
"nna_oVowel-divesakuru.undera",
"nna_ooVowel-divesakuru.undera",
"nna_halanta-divesakuru.undera",
"ta-divesakuru.undera",
"ta_ta-divesakuru.undera",
"ta_ta_eVowel-divesakuru.undera",
"ta_ta_medra_iVowel-divesakuru.undera",
"ta_tha-divesakuru.undera",
"ta_tha_medra_iVowel-divesakuru.undera",
"ta_aaVowel-divesakuru.undera",
"ta_iVowel-divesakuru.undera",
"ta_iiVowel-divesakuru.undera",
"ta_uVowel-divesakuru.undera",
"ta_uuVowel-divesakuru.undera",
"ta_eVowel-divesakuru.undera",
"ta_aiVowel-divesakuru.undera",
"ta_oVowel-divesakuru.undera",
"ta_ooVowel-divesakuru.undera",
"ta_halanta-divesakuru.undera",
"ta_medra_uVowel-divesakuru.undera",
"ta_medya_iVowel-divesakuru.undera",
"ta_medya_halanta-divesakuru.undera",
"tha-divesakuru.undera",
"da-divesakuru.undera",
"da_aaVowel-divesakuru.undera",
"da_iVowel-divesakuru.undera",
"da_iiVowel-divesakuru.undera",
"da_uVowel-divesakuru.undera",
"da_uuVowel-divesakuru.undera",
"da_eVowel-divesakuru.undera",
"da_aiVowel-divesakuru.undera",
"da_oVowel-divesakuru.undera",
"da_ooVowel-divesakuru.undera",
"da_halanta-divesakuru.undera",
"dha-divesakuru.undera",
"dha_aaVowel-divesakuru.undera",
"dha_iVowel-divesakuru.undera",
"dha_iiVowel-divesakuru.undera",
"dha_uVowel-divesakuru.undera",
"dha_uuVowel-divesakuru.undera",
"dha_eVowel-divesakuru.undera",
"dha_aiVowel-divesakuru.undera",
"dha_oVowel-divesakuru.undera",
"dha_ooVowel-divesakuru.undera",
"dha_halanta-divesakuru.undera",
"dha_medya-divesakuru.undera",
"na-divesakuru.undera",
"na_tha-divesakuru.undera",
"na_aaVowel-divesakuru.undera",
"na_iVowel-divesakuru.undera",
"na_iiVowel-divesakuru.undera",
"na_uVowel-divesakuru.undera",
"na_uuVowel-divesakuru.undera",
"na_eVowel-divesakuru.undera",
"na_aiVowel-divesakuru.undera",
"na_oVowel-divesakuru.undera",
"na_ooVowel-divesakuru.undera",
"na_halanta-divesakuru.undera",
"na_medra-divesakuru.undera",
"na_medra_aaVowel-divesakuru.undera",
"na_medya_iVowel-divesakuru.undera",
"pa-divesakuru.undera",
"pa_aaVowel-divesakuru.undera",
"pa_iVowel-divesakuru.undera",
"pa_iiVowel-divesakuru.undera",
"pa_uVowel-divesakuru.undera",
"pa_uuVowel-divesakuru.undera",
"pa_eVowel-divesakuru.undera",
"pa_aiVowel-divesakuru.undera",
"pa_oVowel-divesakuru.undera",
"pa_ooVowel-divesakuru.undera",
"pa_halanta-divesakuru.undera",
"pa_medra-divesakuru.undera",
"pha-divesakuru.undera",
"pha_aaVowel-divesakuru.undera",
"pha_iVowel-divesakuru.undera",
"pha_iiVowel-divesakuru.undera",
"pha_uVowel-divesakuru.undera",
"pha_uuVowel-divesakuru.undera",
"pha_eVowel-divesakuru.undera",
"pha_aiVowel-divesakuru.undera",
"pha_oVowel-divesakuru.undera",
"pha_ooVowel-divesakuru.undera",
"pha_halanta-divesakuru.undera",
"ba-divesakuru.undera",
"ba_va-divesakuru.undera",
"ba_aaVowel-divesakuru.undera",
"ba_iVowel-divesakuru.undera",
"ba_iiVowel-divesakuru.undera",
"ba_uVowel-divesakuru.undera",
"ba_uuVowel-divesakuru.undera",
"ba_eVowel-divesakuru.undera",
"ba_aiVowel-divesakuru.undera",
"ba_oVowel-divesakuru.undera",
"ba_ooVowel-divesakuru.undera",
"ba_halanta-divesakuru.undera",
"bha-divesakuru.undera",
"bha_aaVowel-divesakuru.undera",
"bha_iVowel-divesakuru.undera",
"bha_iiVowel-divesakuru.undera",
"bha_uVowel-divesakuru.undera",
"bha_uuVowel-divesakuru.undera",
"bha_eVowel-divesakuru.undera",
"bha_aiVowel-divesakuru.undera",
"bha_oVowel-divesakuru.undera",
"bha_ooVowel-divesakuru.undera",
"bha_halanta-divesakuru.undera",
"ma-divesakuru.alt.undera",
"ma-divesakuru.undera",
"ma_aaVowel-divesakuru.undera",
"ma_iVowel-divesakuru.undera",
"ma_iiVowel-divesakuru.undera",
"ma_uVowel-divesakuru.undera",
"ma_uuVowel-divesakuru.undera",
"ma_eVowel-divesakuru.undera",
"ma_aiVowel-divesakuru.undera",
"ma_oVowel-divesakuru.undera",
"ma_ooVowel-divesakuru.undera",
"ma_halanta-divesakuru.undera",
"ma_medya-divesakuru.undera",
"ma_medya_iVowel-divesakuru.undera",
"ma_medya_iiVowel-divesakuru.undera",
"ma_medya_eVowel-divesakuru.undera",
"ya-divesakuru.undera",
"ya_aaVowel-divesakuru.undera",
"ya_iVowel-divesakuru.undera",
"ya_iiVowel-divesakuru.undera",
"ya_uVowel-divesakuru.undera",
"ya_uuVowel-divesakuru.undera",
"ya_eVowel-divesakuru.undera",
"ya_aiVowel-divesakuru.undera",
"ya_oVowel-divesakuru.undera",
"ya_ooVowel-divesakuru.undera",
"ya_halanta-divesakuru.undera",
"ya_medra-divesakuru.undera",
"ya_medya_iVowel-divesakuru.undera",
"ya-divesakuru.medi.undera",
"yya-divesakuru.undera",
"yya_aaVowel-divesakuru.undera",
"yya_iVowel-divesakuru.undera",
"yya_iiVowel-divesakuru.undera",
"yya_uVowel-divesakuru.undera",
"yya_uuVowel-divesakuru.undera",
"yya_eVowel-divesakuru.undera",
"yya_aiVowel-divesakuru.undera",
"yya_oVowel-divesakuru.undera",
"yya_ooVowel-divesakuru.undera",
"yya_halanta-divesakuru.undera",
"ra-divesakuru.undera",
"ra_aaVowel-divesakuru.undera",
"ra_iVowel-divesakuru.undera",
"ra_iiVowel-divesakuru.undera",
"ra_uVowel-divesakuru.undera",
"ra_uuVowel-divesakuru.undera",
"ra_eVowel-divesakuru.undera",
"ra_aiVowel-divesakuru.undera",
"ra_oVowel-divesakuru.undera",
"ra_ooVowel-divesakuru.undera",
"ra_halanta-divesakuru.undera",
"ra-divesakuru.medi.undera",
"la-divesakuru.undera",
"la_aaVowel-divesakuru.undera",
"la_iVowel-divesakuru.undera",
"la_iiVowel-divesakuru.undera",
"la_uVowel-divesakuru.undera",
"la_uuVowel-divesakuru.undera",
"la_eVowel-divesakuru.undera",
"la_aiVowel-divesakuru.undera",
"la_oVowel-divesakuru.undera",
"la_ooVowel-divesakuru.undera",
"la_halanta-divesakuru.undera",
"la_medya-divesakuru.undera",
"va-divesakuru.alt.undera",
"va-divesakuru.alt2.undera",
"va-divesakuru.undera",
"va_aaVowel-divesakuru.undera",
"va_iVowel-divesakuru.undera",
"va_iiVowel-divesakuru.undera",
"va_uVowel-divesakuru.undera",
"va_uuVowel-divesakuru.undera",
"va_eVowel-divesakuru.undera",
"va_aiVowel-divesakuru.undera",
"va_oVowel-divesakuru.undera",
"va_ooVowel-divesakuru.undera",
"va_halanta-divesakuru.undera",
"va_medya-divesakuru.undera",
"va_medya_iVowel-divesakuru.undera",
"va_medya_uVowel-divesakuru.undera",
"ssa-divesakuru.undera",
"ssa_halanta-divesakuru.undera",
"sa-divesakuru.undera",
"sa_va-divesakuru.undera",
"sa_aaVowel-divesakuru.undera",
"sa_iVowel-divesakuru.undera",
"sa_iiVowel-divesakuru.undera",
"sa_uVowel-divesakuru.undera",
"sa_uuVowel-divesakuru.undera",
"sa_eVowel-divesakuru.undera",
"sa_aiVowel-divesakuru.undera",
"sa_oVowel-divesakuru.undera",
"sa_ooVowel-divesakuru.undera",
"sa_halanta-divesakuru.undera",
"sa_medra_iiVowel-divesakuru.undera",
"sa_medya-divesakuru.undera",
"ha-divesakuru.undera",
"ha_aaVowel-divesakuru.undera",
"ha_iVowel-divesakuru.undera",
"ha_iiVowel-divesakuru.undera",
"ha_uVowel-divesakuru.undera",
"ha_uuVowel-divesakuru.undera",
"ha_eVowel-divesakuru.undera",
"ha_aiVowel-divesakuru.undera",
"ha_oVowel-divesakuru.undera",
"ha_ooVowel-divesakuru.undera",
"ha_halanta-divesakuru.undera",
"ha_medra-divesakuru.undera",
"ha_medra_aaVowel-divesakuru.undera",
"ha_medya_iVowel-divesakuru.undera",
"lla-divesakuru.alt.undera",
"lla-divesakuru.undera",
"lla_aaVowel-divesakuru.undera",
"lla_iVowel-divesakuru.undera",
"lla_iiVowel-divesakuru.undera",
"lla_uVowel-divesakuru.undera",
"lla_uuVowel-divesakuru.undera",
"lla_eVowel-divesakuru.undera",
"lla_aiVowel-divesakuru.undera",
"lla_oVowel-divesakuru.undera",
"lla_ooVowel-divesakuru.undera",
"lla_halanta-divesakuru.undera",
"lla_medya_iVowel-divesakuru.undera",
"za-divesakuru.undera",
"za_aaVowel-divesakuru.undera",
"za_iVowel-divesakuru.undera",
"za_iiVowel-divesakuru.undera",
"za_uVowel-divesakuru.undera",
"za_uuVowel-divesakuru.undera",
"za_eVowel-divesakuru.undera",
"za_aiVowel-divesakuru.undera",
"za_oVowel-divesakuru.undera",
"za_ooVowel-divesakuru.undera",
"za_halanta-divesakuru.undera",
"eVowel-divesakuru.undera",
"aiVowel-divesakuru.undera",
"prefixedNasalSign-divesakuru",
"prefixedNasalSign-divesakuru.alt",
"nukta-divesakuru",
"eVowel-divesakuru",
"aiVowel-divesakuru",
"aaVowel-divesakuru",
"iVowel-divesakuru",
"iiVowel-divesakuru",
"uVowel-divesakuru",
"uuVowel-divesakuru",
"oVowel-divesakuru",
"ooVowel-divesakuru",
"halanta-divesakuru",
"halanta-divesakuru.undera",
"virama-divesakuru",
nullmark,
"_part.i-divesakuru",
"_part.na_halanda-divesakuru",
"_ma-divesakuru.alt2",
"_uuVowel-divesakuru",
"_va-divesakuru.alt2",
double_a
)