{
displayStrings = (
"/ha_medra-divesakuru/ba_va-divesakuru",
"𑤀𑤡𑤳𑤡𑤳",
"𑤀/a-divesakuru.0046/a-divesakuru.0047/a-divesakuru.0048/pha_uVowel-divesakuru.undera",
"/a-divesakuru.0063 
/a-divesakuru.0074",
"/a-divesakuru.0048/pha_uVowel-divesakuru.undera/pha_uVowel-divesakuru.undera",
"𑤡𑤹",
"𑤀",
"𑤿
𑥃◌"
);
}
