{
displayStrings = (
"𑤞𑤞𑤀𑤎𑤞𑤞
𑤞𑤞𑤢𑤎𑤞𑤞
𑤞𑤞/da_iVowel-divesakuru 𑤎𑤞𑤞
𑤞𑤞𑤘𑤎𑤞𑤞
𑤞𑤞/dda_aaVowel-divesakuru 𑤎𑤞𑤞
𑤞𑤞/dda_iVowel-divesakuru 𑤎𑤞𑤞
𑤞𑤞/dha_halanta-divesakuru 𑤎𑤞𑤞
𑤞𑤞𑤎𑤞𑤞
𑤞𑤞/ga_aaVowel-divesakuru 𑤎𑤞𑤞
𑤞𑤞/ga_halanta-divesakuru 𑤎𑤞𑤞
𑤞𑤞𑤂𑤎𑤞𑤞
𑤞𑤞𑤌𑤎𑤞𑤞
𑤞𑤞/ka_aaVowel-divesakuru 𑤎𑤞𑤞
𑤞𑤞/ka_halanta-divesakuru 𑤎𑤞𑤞
𑤞𑤞/ka_halanta-divesakuru 𑤎𑤞𑤞
𑤞𑤞/la_aaVowel-divesakuru 𑤎𑤞𑤞
𑤞𑤞𑤟𑤎𑤞𑤞
𑤞𑤞/na_aaVowel-divesakuru 𑤎𑤞𑤞
𑤞𑤞/na_halanta-divesakuru 𑤎𑤞𑤞
𑤞𑤞𑤚𑤎𑤞𑤞
𑤞𑤞/o-divesakuru.alt 𑤎𑤞𑤞
𑤞𑤞𑤠𑤎𑤞𑤞
𑤞𑤞𑤫𑤎𑤞𑤞
𑤞𑤞/ta_halanta-divesakuru 𑤎𑤞𑤞
𑤞𑤞𑤖𑤎𑤞𑤞
𑤞𑤞/tta_halanta-divesakuru 𑤎𑤞𑤞
𑤞𑤞𑤄𑤎𑤞𑤞
𑤞𑤞𑤩𑤎𑤞𑤞
𑤞𑤞/ma-divesakuru.alt 𑤎𑤞𑤞
𑤞𑤞𑤥𑤎𑤞𑤞
𑤞𑤞𑤯𑤎𑤞𑤞"
);
}
